//Load base config
includeConfig 'config/base.config'

manifest {
    name = 'ghru_assembly'
    homePage = 'https://github.com/cgps-discovery/GHRU-assembly'
    description = 'A completely new GHRU Assembly Pipeline and is designed for assembling genomic data based on a provided samplesheet.'
    mainScript = 'main.nf'
    version = '4.1.0'
    nextflowVersion = '>=24.10.3'
}

params { 
    samplesheet = "${launchDir}/samplesheet.csv"
    outdir = "${launchDir}/output"
    adapter_file = "${projectDir}/data/adapters.fas"
    max_memory = '16.GB'
    max_cpus = 8
    max_time = '10.h'
    min_contig_length = 500
    medaka_model = 'r941_e81_fast_g514'
    simulate = false
    singularity_dir = "${projectDir}/singularity"
    apptainer_cachedir = "${projectDir}/apptainer-cache"
    apptainer_tmpdir = "${projectDir}/tmp"
}

validation {
    help {
        enabled = true
        beforeText = "Run: nextflow run main.nf --samplesheet <samplesheet> --outdir <output_dir>"
        command = 'nextflow run main.nf --samplesheet <samplesheet> --outdir <output_dir>'
    }
    summary {
        enabled = true
    }
}

profiles {
    standard {
        docker.runOptions='-u $(id -u):$(id -g)'
        docker.enabled = true

        process {
            executor = 'local'
            withLabel: 'pixi' {
                beforeScript = '''
                [ -d .pixi ] && [ -f pixi.lock ] || pixi install
                eval "$(pixi shell-hook)"
                '''
            }                
        }  
    }
    bmrc {
        apptainer {
            enabled = true
            cacheDir = params.apptainer_cachedir
            runOptions = "--bind /well --bind /gpfs3 --bind ${params.singularity_dir} --no-home"
        }
        env {
            APPTAINER_CACHEDIR = "${params.apptainer_cachedir}"
            APPTAINER_TMPDIR = "${params.apptainer_tmpdir}"
        }
        process {
            cpus = 1
            memory = '2G'
            executor = 'slurm'
            queue = 'short,long'
            clusterOptions='-A aanensen.prj'
            penv = 'shmem'
            errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
            maxRetries = 5
            withLabel: 'pixi' {
                beforeScript = '''
                [ -d .pixi ] && [ -f pixi.lock ] || pixi install
                eval "$(pixi shell-hook)"
                '''
            }            
        }
        tower {
            enabled = false
        }
    }
}
